:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  body { background: #333; color: white; border-color: white; }
  table, td, th, .border-color {border-color: white;}
  .tabs-list, .tab, .chat-messages {border-color: #959595}
  tr:hover {background-color: #444;}
  .tab:hover, .tab-close:hover, .tab-new:hover { background: #555; }
}

@media (prefers-color-scheme: light) {
  body { background: #ddd; color: black; border-color: gray; }
  .window-container, .tab:hover, .tab-close:hover, .tab-new:hover, .active { background: white}
  table, td, th {border-color: black;}
  .tabs-list, .tab, .chat-messages {border-color: #b5b5b5}
  .tab-new:hover, .tab-close:hover, #splitter:hover, #splitter.dragging { background: #c2c0c0; }
  tr:hover {background-color: #eee;}
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: .25em;
  border-radius: 2px;
  
}

#splitter {
  position: relative;
  background: transparent;
}

#splitter:hover, #splitter.dragging {
  transition: background-color 0.3s ease;
}

.splitter-vertical {
  width: 8px;
  cursor: ew-resize;
  flex-shrink: 0;
}

.splitter-horizontal {
  height: 8px;
  cursor: ns-resize;
  flex-shrink: 0;
}

.horisontal-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.split-row {
  display: flex;
  flex-direction: row;
}

.split-column {
  display: flex;
  flex-direction: column;
}

.panel-container {
  position: relative;
  height: 100%;
  width: 100%;
  min-width: 20%;  
  min-height: 20%; 
  box-sizing: border-box;
}

.window-container {
  width: 100%;
  height: calc(100% - 24px);
  position: absolute;
  bottom: 0;
  left: 0;
  box-sizing: border-box;
}

.window-highlight {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; /* Prevents highlight from blocking mouse events */
}

.window-highlight.highlight-display {
  background: rgba(21, 21, 21, 0.452);
  border: 2px dashed rgb(193, 193, 193);
  width: -webkit-fill-available;
  height: -webkit-fill-available;
}

/* Inner red grid highlights (top, left, right, bottom) */
.window-highlight.highlight-top {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 25%;
  pointer-events: none;
}

.window-highlight.highlight-bottom {
  position: absolute;
  top: 75%;
  left: 0;
  width: 100%;
  height: 25%;
  pointer-events: none;
}

.window-highlight.highlight-left {
  position: absolute;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  pointer-events: none;
}

.window-highlight.highlight-right {
  position: absolute;
  top: 0;
  left: 75%;
  width: 25%;
  height: 100%;
  pointer-events: none;
}

/* Center green rectangle highlight */
.window-highlight.highlight-center {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  pointer-events: none;
}

.chat-container {
  width: 100%;
  height: calc(100% - 44px);
  box-sizing: border-box;
}

.chat {
  margin: 12px 0px;
}

.chat-messages {
  height: calc(100% - 19px);
  overflow-y: auto;
  overflow-x: hidden; /* Prevents horizontal scrollbar */
  border-bottom-width: 2px;
  border-bottom-style: solid;
  margin: 0px 0px 12px;
  padding-bottom: 5px;
  padding-top: 9px;
}

.chat-input {
  width: calc(100% - 80px);
  margin-left: 15px;
  margin-bottom: 12px;
}

.input-message {
  padding: 4px 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
  float: right;
  max-width: 69%;
  align-self: flex-end;
}

.input-output-block {
  margin-right: 8px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden; /* Prevents vertical scrollbar */
}

table {
  width: 100%;
}

table, th, td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th, td {
  padding: 0px 6px;
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
}

.button-show-in-pdf {
  float: right;
  margin-left: 10px;
}

.tabs-list {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 22px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-top-width: 1px;
  border-top-style: solid;
}

.tab {
  max-width: 150px;
  position: relative;
  padding: 2px 8px;
  cursor: pointer;
  border-right-width: 1px;
  border-right-style: solid;
  transition: transform 300ms ease;
}

.tab-text {
  width: calc(100% - 18px);
  float: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.active {
  height: 19px;
}

.tab-hover {
  position: absolute;
  top: -3%;
  left: -2%;
  width: 100%;
  height: 100%;
  border-left: 6px solid #ccc;
  border-radius: 0px;
  padding-top: 3%;
  pointer-events: none; /* Prevents hover from blocking mouse events */
}

.tab-new {
  margin: 2px 2px 2px 6px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
}

.tab-close {
  width: 18px;
  height: 18px;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 0px;
  position: relative;
  right: -3px;
  float: right;
  border-radius: 6px;
}

.tab.dragging {
  opacity: 0.5;
  transition: none;
  cursor: grabbing;
}
