:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.12 0 20);
    --bg: oklch(0.18 0 20);
    --bg-light: oklch(0.26 0 20);
    --text: oklch(0.96 0 20);
    --text-muted: oklch(0.76 0 20);
    --highlight: oklch(0.5 0 20);
    --border: oklch(0.4 0 20);
    --border-muted: oklch(0.3 0 20);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: oklch(0.92 0 20);
    --bg: oklch(0.96 0 20);
    --bg-light: oklch(1 0 20);
    --text: oklch(0.15 0 20);
    --text-muted: oklch(0.4 0 20);
    --highlight: oklch(1 0 20);
    --border: oklch(0.6 0 20);
    --border-muted: oklch(0.7 0 20);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

p::first-letter {
  text-transform: capitalize;
}

pre {
  white-space: pre-wrap;
}

::-webkit-scrollbar {
  height: 0px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 8px;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 12pt;
  color: var(--text);
  background: var(--bg);
}

body {
  overflow: hidden;
  min-height: 100vh;
}


/* ------------------------------------------------------------------------------
                                  Signup/Login styles
   ------------------------------------------------------------------------------ */

.create-user {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: absolute;
  width: 100vw;

  &.hidden {
    display: none;
  }
}

#signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  background: var(--bg-light);
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px #151515;
  z-index: 20;
}

.background-blur {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: var(--bg-dark);
  opacity: 0.6;
  backdrop-filter: blur(8px);
  z-index: 15;
}

/* ------------------------------------------------------------------------------
                                  Tooltip styles
   ------------------------------------------------------------------------------ */
   
[data-tooltip] {
  position: relative;
}

[data-tooltip]::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 110%;
  left: 4%;
  background: var(--bg-light);
  color: var(--text);
  padding: 4px 8px;
  border-radius: 12px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  z-index: 11;
}

[data-tooltip]:hover::after {
  opacity: 1;
}

/* ------------------------------------------------------------------------------
                                  Sidebar styles
   ------------------------------------------------------------------------------ */

#sidebar {
  background: var(--bg-dark);
  border-right: 1px solid var(--border);
  width: 46px;
  transition: 200ms ease;
  overflow: hidden;
  padding-top: 8px;
  padding-inline: 6px;
  grid-area: nav;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 12px;
  text-wrap: nowrap;
  white-space: nowrap;
  
  &.expanded {
    width: 260px;
    
    #account {
      opacity: 1;
    }
  }

  > div:first-child {
    display: grid;
    grid-template-columns: 0 auto;
    height: 34px;
  }
}


#account {
  transition: 200ms ease;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: red;
  opacity: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.1em;
  font-size: 18pt;
  text-transform: uppercase;
}

#expand-sidebar-button {
  background: var(--bg-light);
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  justify-self: end;
  transition: 400ms ease;

  &:hover {
    background: var(--highlight);
  }

  & > span {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 0.1em;
    font-size: 16pt;
  }
}

#sidebar.expanded > div:first-child > #expand-sidebar-button {
  transform: rotate(180deg);
}

@property --scrollbar-transition {
  syntax: "<color>";
  inherits: true;
  initial-value: rgba(0, 0, 0, 0);
}

#chat-history {
  height: 38px;
  transition: 0.2s ease;
  overflow: hidden;
  opacity: 1;
  white-space: nowrap;
  list-style: none;
  transition: 
    --scrollbar-transition 800ms ease,
    opacity 200ms ease;

  &.hidden {
    opacity: 0;
  }

  &.open {
    overflow-y: auto;
    height: auto;
  }

  > li {
    height: 38px;
  }

  &:hover {
    --scrollbar-transition: #ccc;
  }

  &::-webkit-scrollbar-thumb {
    background: var(--scrollbar-transition);
  }
}

#chat-history-summary {
  display: block;
  height: 38px;
  width: -webkit-fill-available;
  border: 0px solid;
  border-radius: 12px;
  padding: 6px 10px;
  cursor: pointer;

  &:hover {
    background: var(--highlight);
  }

  &:before {
    content: '▲';
    margin-right: 0.5em;
    display: inline-block;
    transition: 300ms ease;
  }

  &.rotate:before {
    transform: rotate(180deg);
  }
}

.history-entry-container {
  anchor-name: --history-entry-container-menu;
  height: 38px;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
}

.history-entry-container:hover > * {
  opacity: 1;
}

.history-entry {
  grid-area: stack;
  padding-block: 8px;
  padding-inline: 6px;
  border-width: 0px;
  border-style: solid;
  border-radius: 12px;
  background: transparent;
  outline: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.history-entry:hover {
  background: var(--highlight);
}

.history-entry-container-menu-button {
  grid-area: stack;
  justify-self: end;
  
  height: 30px;
  width: 30px;
  border: 0px solid var(--border);
  border-radius: 12px;

  background: radial-gradient(var(--highlight), 80%, transparent);
  opacity: 0;

  font-size: 1.25em;
  cursor: pointer;
  text-align: center;
}

.history-entry-container-menu-button:hover {
  background: var(--highlight);
}

.history-entry-container-menu {
  background: var(--bg-light);
  position: absolute;
  left: 16em;
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 12px;
  padding: 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 8px #151515;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.4s ease;
}

.history-entry-container-menu.hidden {
  opacity: 0;
}

.history-entry-delete-button {
  grid-area: stack;
  justify-self: end;
  width: 30px;
  height: 30px;
  background: radial-gradient(var(--highlight), 80%, transparent);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  opacity: 0;
}

.history-entry-delete-button:hover {
  background: var(--highlight);
}

.history-entry-container-menu-option {
  width: -webkit-fill-available;
  padding: 6px 12px;
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  background: transparent;
}

.history-entry-container-menu-option:hover {
  background: var(--highlight);
}

/* ------------------------------------------------------------------------------
                                  Layout styles
   ------------------------------------------------------------------------------ */

#main {
  overflow: hidden;
}

#splitter {
  position: relative;
  opacity: 0;
  background: var(--highlight);
  transition: opacity 1.2s ease;
  z-index: 10;
}

#splitter:hover, #splitter.dragging {
  opacity: 1;
}

.splitter-vertical {
  width: 8px;
  cursor: ew-resize;
  flex-shrink: 0;
}

.gutter {
  background: var(--highlight);
  transition: opacity 1.2s ease;
  opacity: 0;
}

.gutter-col {
  grid-row: 1 / -1;
  cursor: col-resize;
}

.gutter-row {
  grid-column: 1 / -1;
  cursor: row-resize;
}

.gutter:hover, .gutter.dragging {
  opacity: 1;
}

.splitter-horizontal {
  height: 8px;
  cursor: ns-resize;
  flex-shrink: 0;
}

#layout {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
    "nav main"
}

.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 20%;  
  min-height: 20%; 
  box-sizing: border-box;
}

.panel-container.split-row {
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  grid-template-rows: 1fr;
}

.panel-container.split-column {
  display: grid;
  grid-template-rows: 1fr 8px 1fr;
  grid-template-columns: 1fr;
}

.window-container {
  overflow: hidden;
  background: var(--bg);
  overflow: hidden;
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-areas: "stack";
}

/* ------------------------------------------------------------------------------
                              Window highlight styles
   ------------------------------------------------------------------------------ */

.window-highlight {
  grid-area: stack;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.window-highlight.highlight-display {
  border: 2px dashed rgb(193, 193, 193);
}

.window-highlight.highlight-top {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  pointer-events: none;
}

.window-highlight.highlight-bottom {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  pointer-events: none;
}


.window-highlight.highlight-left {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  pointer-events: none;
}

.window-highlight.highlight-right {
  grid-column: -1 / -2;
  grid-row: 1 / -1;
  pointer-events: none;
}

.window-highlight.highlight-center {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  pointer-events: none;
}

/* ------------------------------------------------------------------------------
                                  Content styles
   ------------------------------------------------------------------------------ */

.pdf-viewer {
  grid-area: stack;
  opacity: 1;
}

.pdf-viewer.hidden {
  opacity: 0;
}

.chat-container {
  overflow: hidden;
  grid-area: stack;
  display: grid;
  grid-template-areas: "stack";
  opacity: 1;
}

.chat-container.hidden {
  opacity: 0;
}

.chat {
  background: var(--bg-light);
  height: 40px;
  width: -webkit-fill-available;
  display: flex;
  gap: 8px;
  padding-inline: 12px;
  align-items: center;
  margin: 24px 24px;
  border: none;
  border-radius: 18px;
  grid-area: stack;
  align-self: end;
  z-index: 2;
}

.chat-messages {
  overflow-y: auto;
  grid-area: stack;
  padding-bottom: 100px;

  > hr {
    margin-block: 12px;
  }
}

cite {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.chat-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  height: 32px;
}

.input-message {
  background: var(--bg-light);
  padding: 10px 16px;
  border: 0px solid;
  border-radius: 12px;
  max-width: 69%;
  align-self: flex-end;
}

.chat-settings {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  letter-spacing: 1px;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}

.chat-settings:hover {
  background: var(--highlight);
}

.chat-send {
  border: none;
  height: 32px;
  padding-inline: 8px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

.chat-send:hover {
  background: var(--highlight);
}

.chat-menu {
  background: var(--bg-light);
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 12px;
  padding: 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 8px #151515;
  z-index: 10;
  opacity: 1;
  grid-area: stack;
  transition: opacity 0.4s ease;
}

.chat-menu.hidden {
  opacity: 0;
}

.chat-menu-container {
  height: 0;
  width: 0;
  grid-area: stack;
  align-self: end;
  display: grid;
  justify-content: start;
}

.chat-menu-item {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
}

.chat-menu-item:hover {
  background: var(--highlight);
}

.chat-submenu {
  background: var(--bg-light);
  height: fit-content;
  width: fit-content;
  padding: 6px 6px;
  border: none;
  border-radius: 12px;
  grid-area: stack;
  z-index: 20;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.chat-submenu.hidden {
  opacity: 0;
}

.ai-model-item {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ai-model-item:hover {
  background: var(--highlight);
}

.ai-model-radio {
}

.ai-model-label {
  color: var(--text);
}

.hover-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 6px 0px;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 0px 8px #151515;
}

input[type="number"] {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.content-block {
  margin-inline: 12px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.output-message > pre {
  background: var(--bg-light);
  padding: 12px;
  border-radius: 12px;
  overflow-x: auto;
  white-space: pre;
  margin-block: 0.75em;
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden; /* Prevents vertical scrollbar */
}

table {
  width: 100%;
}

table, th, td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
}

tr:hover {
  background: var(--highlight);
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
  margin-bottom: 10px;
}

.button-show-in-pdf {
  float: right;
  margin-left: 10px;
}


/* ------------------------------------------------------------------------------
                                  Tabs styles
   ------------------------------------------------------------------------------ */

.tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, var(--bg-dark), 80%, var(--bg));
}

.tabs-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 34px;
  gap: 4px;
  margin-inline: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  width: fit-content;
  min-width: 90px;
  max-width: 250px;
  padding: 2px 8px;
  align-content: center;
  cursor: pointer;
  transition: transform 300ms ease;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  border-radius: 6px;
}

.tab:hover:not(.active) {
  background: var(--highlight);
}

.no-transition {
  transition: none !important;
}

.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: stack;
}

.active {
  background: var(--bg-light);
}

.tab-new {
  padding: 0px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  flex: none;
}

.tab-new:hover{
  background: var(--highlight);
}

.tab-close {
  transition: opacity 0.1s ease;
  opacity: 1;
  width: 20px;
  height: 20px;
  background: radial-gradient(var(--bg-light), 85%, transparent);
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0px;
  border-radius: 6px;
  pointer-events: auto;
  grid-area: stack;
  justify-self: end;
}

.tab-close.hidden {
  opacity: 0;
}

.tab-close:hover {
  background: var(--highlight);
}

.tab.dragging {
  opacity: 0.5;
  cursor: grabbing;
}