:root {
  color-scheme: light dark;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-dark: oklch(0.12 0 20);
    --bg: oklch(0.18 0 20);
    --bg-light: oklch(0.26 0 20);
    --text: oklch(0.96 0 20);
    --text-muted: oklch(0.76 0 20);
    --highlight: oklch(0.5 0 20);
    --border: oklch(0.4 0 20);
    --border-muted: oklch(0.3 0 20);
    --danger: oklch(0.7 0.05 30);
    --warning: oklch(0.7 0.05 100);
    --success: oklch(0.7 0.05 160);
    --info: oklch(0.7 0.05 260);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-dark: oklch(0.92 0 20);
    --bg: oklch(0.96 0 20);
    --bg-light: oklch(1 0 20);
    --text: oklch(0.15 0 20);
    --text-muted: oklch(0.4 0 20);
    --highlight: oklch(1 0 20);
    --border: oklch(0.6 0 20);
    --border-muted: oklch(0.7 0 20);
    --danger: oklch(0.5 0.05 30);
    --warning: oklch(0.5 0.05 100);
    --success: oklch(0.5 0.05 160);
    --info: oklch(0.5 0.05 260);
  }
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #ccc transparent;
}

body {
  display: flex;
  background: var(--bg-dark);
  color: var(--text);
  border-color: var(--border);
  
  p::first-letter {
    text-transform: capitalize;
  }
}

[data-tooltip]:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  border: 1px solid #ccc;
  background: #f9f9f9;
  padding: .25em;
  border-radius: 2px;
  
}

::-webkit-scrollbar {
  height: 0px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}

/* ------------------------------------------------------------------------------
                                  Menus styles
   ------------------------------------------------------------------------------ */

.sidebar {
  background: var(--bg-dark);
  border-right: 1px solid var(--border);
  width: 46px;
  transition: 0.2s ease;
  overflow: hidden;
  padding-top: 8px;
  padding-inline: 6px;
  grid-area: sidebar;
  box-sizing: border-box;
  display: grid;
  grid-template-rows: auto 1fr;
  row-gap: 12px;
}

.sidebar.expanded {
  width: 260px;
}

.sidebar-button {
  background: var(--bg-light);
  width: 34px;
  height: 34px;
  border: none;
  border-radius: 12px;
  background: transparent;
  cursor: pointer;
  justify-self: end;
}

.sidebar-button:hover {
  background: var(--highlight);
}


.history-menu {
  opacity: 1;
  transition: 
    opacity 0.2s ease, 
    height 0.01s ease;
  padding: 0px 6px 0px 12px;
  overflow: hidden;
  cursor: pointer;
  height: 30px;
  scrollbar-gutter: stable;
  white-space: nowrap;
}

.history-summary {
  border: 0px solid;
  border-radius: 12px;
  padding: 6px 10px;
}

.history-summary:hover {
  background: var(--highlight);
}

.history-menu.hidden {
  opacity: 0;
}

.history-menu:open {
  height: calc(100vh - 60px);
  transition: 
    opacity 0.2s ease,
    height 0.8s linear;
}

.history-menu.opened {
  overflow-y: auto;
}

.history-menu::-webkit-scrollbar {
  width: 2px;
}

.history-entry-container {
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
}

.history-entry {
  grid-area: stack;
  padding-block: 8px;
  padding-inline: 6px;
  border-width: 0px;
  border-style: solid;
  border-radius: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.history-entry:hover {
  background: var(--highlight);
}

.history-entry-container:hover > * {
  opacity: 1;
}

.history-entry-delete-button {
  grid-area: stack;
  justify-self: end;
  width: 30px;
  height: 30px;
  background: radial-gradient(var(--highlight), 80%, transparent);
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 12px;
  opacity: 0;
}

.history-entry-delete-button:hover {
  background: var(--highlight);
}

/* ------------------------------------------------------------------------------
                                  Layout styles
   ------------------------------------------------------------------------------ */


#splitter {
  position: relative;
  opacity: 0;
  background: var(--highlight);
  transition: opacity 1.2s ease;
  z-index: 10;
}

#splitter:hover, #splitter.dragging {
  opacity: 1;
}

.splitter-vertical {
  width: 8px;
  cursor: ew-resize;
  flex-shrink: 0;
}

.gutter {
  background: var(--highlight);
  transition: opacity 1.2s ease;
  opacity: 0;
}

.gutter-col {
  grid-row: 1 / -1;
  cursor: col-resize;
}

.gutter-row {
  grid-column: 1 / -1;
  cursor: row-resize;
}

.gutter:hover, .gutter.dragging {
  opacity: 1;
}

.splitter-horizontal {
  height: 8px;
  cursor: ns-resize;
  flex-shrink: 0;
}

.layout-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas: 
    "sidebar main"
    "status-bar status-bar";
}

.layout-container.expanded {
  width: calc(100vw - 215.667px);
}

.panel-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-width: 20%;  
  min-height: 20%; 
  box-sizing: border-box;
}

.panel-container.split-row {
  display: grid;
  grid-template-columns: 1fr 8px 1fr;
  grid-template-rows: 1fr;
}

.panel-container.split-column {
  display: grid;
  grid-template-rows: 1fr 8px 1fr;
  grid-template-columns: 1fr;
}

.window-container {
  background: var(--bg);
  overflow: hidden;
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-areas: "stack";
}

/* ------------------------------------------------------------------------------
                              Window highlight styles
   ------------------------------------------------------------------------------ */

.window-highlight {
  grid-area: stack;
  width: 100%;
  height: 100%;
  pointer-events: none;

  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
}

.window-highlight.highlight-display {
  border: 2px dashed rgb(193, 193, 193);
}

.window-highlight.highlight-top {
  grid-column: 1 / -1;
  grid-row: 1 / 2;
  pointer-events: none;
}

.window-highlight.highlight-bottom {
  grid-column: 1 / -1;
  grid-row: -1 / -2;
  pointer-events: none;
}


.window-highlight.highlight-left {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  pointer-events: none;
}

.window-highlight.highlight-right {
  grid-column: -1 / -2;
  grid-row: 1 / -1;
  pointer-events: none;
}

.window-highlight.highlight-center {
  grid-column: 2 / -2;
  grid-row: 2 / -2;
  pointer-events: none;
}

/* ------------------------------------------------------------------------------
                                  Content styles
   ------------------------------------------------------------------------------ */

.pdf-viewer {
  grid-area: stack;
  opacity: 1;
}

.pdf-viewer.hidden {
  opacity: 0;
}

.chat-container {
  overflow: hidden;
  grid-area: stack;
  display: grid;
  grid-template-areas: "stack";
  opacity: 1;
}

.chat-container.hidden {
  opacity: 0;
}

.chat {
  background: var(--bg-light);
  height: 40px;
  width: -webkit-fill-available;
  display: flex;
  gap: 8px;
  padding-inline: 12px;
  align-items: center;
  margin: 24px 24px;
  border: none;
  border-radius: 18px;
  grid-area: stack;
  align-self: end;
  z-index: 2;
}

.chat-messages {
  overflow-y: auto;
  grid-area: stack;
  padding-bottom: 100px;
}

cite {
  cursor: pointer;
}

.chat-input {
  width: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  height: 32px;
}

.input-message {
  background: var(--bg-light);
  padding: 10px 16px;
  border: 0px solid;
  border-radius: 12px;
  max-width: 69%;
  align-self: flex-end;
}

.chat-settings {
  border: none;
  width: 32px;
  height: 32px;
  border-radius: 12px;
  letter-spacing: 1px;
  font-size: 24px;
  cursor: pointer;
  background-color: transparent;
}

.chat-settings:hover {
  background: var(--highlight);
}

.chat-send {
  border: none;
  height: 32px;
  padding-inline: 8px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  background-color: transparent;
}

.chat-send:hover {
  background: var(--highlight);
}

.chat-menu {
  background: var(--bg-light);
  width: fit-content;
  height: fit-content;
  border: none;
  border-radius: 12px;
  padding: 6px 6px;
  display: flex;
  flex-direction: column;
  align-items: start;
  box-shadow: 0px 0px 8px #151515;
  z-index: 10;
  opacity: 1;
  grid-area: stack;
  transition: opacity 0.4s ease;
}

.chat-menu.hidden {
  opacity: 0;
}

.chat-menu-container {
  grid-area: stack;
  align-self: end;
  display: grid;
  justify-content: start;
}

.chat-menu-item {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
}

.chat-menu-item:hover {
  background: var(--highlight);
}

.chat-submenu {
  background: var(--bg-light);
  height: fit-content;
  width: fit-content;
  padding: 6px 6px;
  border: none;
  border-radius: 12px;
  grid-area: stack;
  z-index: 20;
  transition: opacity 0.4s ease;
  opacity: 1;
}

.chat-submenu.hidden {
  opacity: 0;
}

.ai-model-item {
  width: -webkit-fill-available;
  cursor: pointer;
  padding: 8px 16px;
  border: none;
  border-radius: 12px;
  display: flex;
  align-items: center;
  gap: 8px;
}

.ai-model-item:hover {
  background: var(--highlight);
}

.ai-model-radio {
}

.ai-model-label {
  color: var(--text);
}

.hover-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  padding: 6px 0px;
  border: none;
  border-radius: 9px;
  box-shadow: 0px 0px 8px #151515;
}

input[type="number"] {
  padding: 8px 12px;
  outline: none;
  border: none;
  border-radius: 8px;
}

.content-block {
  margin-inline: 12px;
  display: flex;
  flex-direction: column;

  hr {
    width: 100%;
  }
}

.table-wrapper {
  overflow-x: auto;
  overflow-y: hidden; /* Prevents vertical scrollbar */
}

table {
  width: 100%;
}

table, th, td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
}

tr:hover {
  background: var(--highlight);
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
  margin-bottom: 10px;
}

.button-show-in-pdf {
  float: right;
  margin-left: 10px;
}


/* ------------------------------------------------------------------------------
                                  Tabs styles
   ------------------------------------------------------------------------------ */

.tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, var(--bg-dark), 80%, var(--bg));
}

.tabs-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 34px;
  gap: 4px;
  margin-inline: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  width: fit-content;
  min-width: 90px;
  max-width: 250px;
  padding: 2px 8px;
  align-content: center;
  cursor: pointer;
  transition: transform 300ms ease;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  border-radius: 6px;
}

.tab:hover:not(.active) {
  background: var(--highlight);
}

.no-transition {
  transition: none !important;
}

.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: stack;
}

.active {
  background: var(--bg-light);
}

.tab-new {
  padding: 0px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  flex: none;
}

.tab-new:hover{
  background: var(--highlight);
}

.tab-close {
  transition: opacity 0.1s ease;
  opacity: 1;
  width: 20px;
  height: 20px;
  background: radial-gradient(var(--bg-light), 85%, transparent);
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0px;
  border-radius: 6px;
  pointer-events: auto;
  grid-area: stack;
  justify-self: end;
}

.tab-close.hidden {
  opacity: 0;
}

.tab-close:hover {
  background: var(--highlight);
}

.tab.dragging {
  opacity: 0.5;
  cursor: grabbing;
}


/* ------------------------------------------------------------------------------
                                  Status bar styles
   ------------------------------------------------------------------------------ */

.status-bar {
  background: var(--bg-dark);
  width: 100%;
  min-height: 24px;
  box-sizing: border-box;
  border-top: 1px solid var(--border);
  grid-area: status-bar;
}

.ssh-status {
  width: fit-content;
  padding: 2px 4px;
  cursor: pointer;
}

.ssh-status.connected {
  background: var(--success);
}
.ssh-status.disconnected {
  background: var(--danger);
}
.ssh-status.connecting {
  background: var(--warning);
}

.ssh-menu {
  --width: 140px;
  --height: 145px;
  background: var(--bg-light);
  width: var(--width);
  height: var(--height);
  position: absolute;
  bottom: calc(90vh - var(--height)/2);
  left: calc(50vw - var(--width)/2);
  border: none;
  border-radius: 12px;
  padding-inline: 12px;
  box-shadow: 0px 0px 8px #151515;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
  z-index: 10;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.ssh-menu.hidden {
  opacity: 0;
}

.ssh-connect {
  text-align: center;
}

.ssh-username-input {
  width: -webkit-fill-available;
}
.ssh-password-input {
  width: -webkit-fill-available;
}

.ssh-submit {
  align-self: center;
}



