#chatbot-container {
  overflow: hidden;
  display: grid;

  min-width: 300px;

  > button {
    height: 32px;
    width: 32px;
    justify-self: center;
    transition: opacity 0.3s ease;
    position: absolute;
    opacity: 1;
    z-index: 10;

    border: none;
    border-radius: 50%;
    background: var(--bg-light);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--highlight);
    }

    &.hidden {
      opacity: 0;
    }

    > img {
      width: 75%;
      height: 75%;
      filter: var(--filter);
    }
  }
}

#chat-input-container {
  background: var(--bg-light);
  width: min(80%, 600px);
  justify-self: center;
  display: flex;
  gap: 8px;
  padding: 0.5rem 0.75rem;
  align-items: end;
  border: none;
  border-radius: 18px;
  z-index: 2;
  box-shadow: 0px 0px 8px #151515;

  grid-area: 1/1;
  position: relative;
  bottom: 2em;
  align-self: end;

  anchor-name: --chat-input-container;

  > #chat-input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: var(--text);

    &::placeholder {
      color: var(--text-muted);
    }

    &:focus {
      outline: blue auto 1px;
    }

    &:not(:empty) + #chat-input-placeholder {
      display: none;
    }
  }

  > button {
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--highlight);
    }

    > img {
      height: 24px;
      filter: var(--filter);
    }
  }
}

#chat-input:not(:empty) + #chat-input-placeholder {
  display: none;
}

#chat-input:empty + #chat-send-button {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

#chat-messages-container {
  grid-area: 1/1;
  overflow: auto;
}

#chat-messages > :not(:first-child) {
  display: none;
}

.chat-threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  grid-area: 1/1;
  scrollbar-gutter: stable;
  padding-bottom: 100px;

  > div:not(:first-child) {
    border-top: .15rem solid var(--text-muted);
  }
}

cite {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: min(80%, 800px);
  padding-block: 1.5rem;
}

.input-block {
  align-self: flex-end;
  position: relative;
  background: var(--bg-light);
  min-height: 2.5rem;
  padding: 0.75rem 0.75rem;
  border: 0px solid;
  border-radius: 12px;
  max-width: 69%;
  word-break: break-word;

  &:hover .input-options {
    opacity: 1;
  }
}

.input-options {
  display: flex;
  gap: 0.1rem;

  position: absolute;
  right: 0.5rem;
  bottom: -2.2rem;

  opacity: 0;
  transition: opacity 0.3s ease;

  > .content-button {
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
  }
}

.code-block-container {
  background: var(--bg-light);
  padding: 12px;
  border-radius: 12px;
  margin-block: 0.75em;
  position: relative;

  display: flex;
  flex-direction: row;
  
  > pre {
    overflow-x: auto;
    white-space: pre;
  }

  > .content-button {
    background: var(--bg-light);
  }

  &:hover .content-button {
    opacity: 1;
  }
}

.content-button {
  width: 1.75rem;
  height: 1.75rem;

  position: absolute;
  right: 0.5rem;
  top: 0.5rem;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;

  &:hover {
    background: var(--highlight); 
  }
}

table {
  width: 100%;
  display: block;
  border: none;
  overflow-x: auto;
}

table, th, td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
  margin-block: 1rem;
}

th, td {
  padding: 4px 8px;
}

tr:hover {
  background: var(--highlight);
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
  margin-bottom: 10px;
}

.button-show-in-pdf {
  float: right;
  margin-left: 10px;
}