#chatbot-container {
  overflow: hidden;
  display: grid;

  min-width: 300px;
}

/* #pdf-container {
  display: grid;

  > iframe {
    grid-area: 1/1;
    border: none;
  }
} */

#chat-input-container {
  background: var(--bg-light);
  height: 40px;
  width: min(80%, 600px);
  justify-self: center;
  display: flex;
  gap: 8px;
  padding: 8px 12px;
  align-items: center;
  border: none;
  border-radius: 18px;
  z-index: 2;

  grid-area: 1/1;
  position: relative;
  bottom: 2em;
  align-self: end;

  > input {
    width: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    height: 32px;
    color: var(--text);

    &::placeholder {
      color: var(--text-muted);
    }
  }

  > button {
    border: none;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    font-size: 16px;
    cursor: pointer;
    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background-color: var(--highlight);
    }

    > img {
      height: 24px;
      filter: var(--filter);
    }
  }
}

#chat-messages-container {
  grid-area: 1/1;
  display: grid;
  overflow: auto;

  > * {
    grid-area: 1/1;
  }

  > button {
    height: 32px;
    width: 32px;
    justify-self: center;
    transition: opacity 0.3s ease;
    position: absolute;
    opacity: 1;

    border: none;
    border-radius: 50%;
    background: var(--bg-light);
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
      background: var(--highlight);
    }

    &.hidden {
      opacity: 0;
    }

    > img {
      width: 75%;
      height: 75%;
      filter: var(--filter);
    }
  }
}

#scroll-top {
  align-self: start;
  top: 30px;
}

#scroll-bottom {
  align-self: end;
  bottom: 100px;
}

/* #chat-messages {
  display: grid;

  > div:not(:first-child) {
    display: none;
  }
} */

.chat-threads {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  grid-area: 1/1;
  scrollbar-gutter: stable;
  padding-top: 12px;
  padding-bottom: 100px;

  > hr {
    width: min(80%, 800px);
    margin-block: 12px;
  }

  &.hidden {
    opacity: 0;
  }
}

cite {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}

.content-block {
  display: flex;
  flex-direction: column;
  gap: 2.5em;
  width: min(80%, 800px);
}

.input-message {
  background: var(--bg-light);
  padding: 10px 16px;
  border: 0px solid;
  border-radius: 12px;
  max-width: 69%;
  align-self: flex-end;

  position: relative;

  &:hover .input-options {
    opacity: 1;
  }
}

.input-options {
  display: flex;
  gap: 6px;

  height: 2em;

  position: absolute;
  right: 0.5em;
  bottom: -2.2em;

  opacity: 0;
  transition: opacity 0.3s ease;

  > .content-button {
    opacity: 1;
    position: relative;
    top: 0;
    right: 0;
  }
}

.code-block-container {
  background: var(--bg-light);
  padding: 12px;
  border-radius: 12px;
  margin-block: 0.75em;
  position: relative;

  display: flex;
  flex-direction: row;
  
  > pre {
    overflow-x: auto;
    white-space: pre;
  }

  > .content-button {
    background: var(--bg-light);
  }

  &:hover .content-button {
    opacity: 1;
  }
}

.content-button {
  width: 2em;
  height: 2em;
  border: none;
  border-radius: 6px;
  background: transparent;

  position: absolute;
  right: 0.5em;
  top: 0.5em;

  cursor: pointer;
  opacity: 0;
  transition: opacity 0.2s ease;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--highlight); 
  }

  > img {
    width: 75%;
    height: 75%;
    filter: var(--filter);
  }
}

table {
  width: 100%;
  word-break: break-all;
}

table, th, td {
  border-width: 1px;
  border-style: solid;
  border-collapse: collapse;
}

th, td {
  padding: 4px 8px;
}

tr:hover {
  background: var(--highlight);
}

caption {
  text-align: left;
  font-weight: bold;
  font-size: 1.2em;
  width: fit-content;
  margin-bottom: 10px;
}

.button-show-in-pdf {
  float: right;
  margin-left: 10px;
}