#sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1rem;
  height: 100vh;
  background: var(--bg-dark);
  border-right: 1px solid var(--border);
  transition: 0.2s ease;

  white-space: nowrap;

  ::-webkit-scrollbar {
    width: 3px;
  }

  button {
      height: 2rem;
      width: 2rem;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin-inline: 0.5rem;

      img {
          width: 2rem;
      }
  }

  summary {
    font-size: large;
    color: var(--text-muted);
    cursor: pointer;
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
  }

  summary:hover {
      background: var(--highlight);
      color: var(--text);
  }

  details:not(:first-child) {
      margin-top: 0.5rem;
  }

  details {
    border: 1px solid var(--border);
    border-radius: 12px;
    padding: 0.25rem 0.25rem;
    color: var(--text-muted);
  }

  ul {
    list-style: none;
  }

  ul:has(li) {
    margin-top: 0.25rem;
  }

  li {
    display: grid;
    align-items: center;
    transition: 0.2s ease;

    & > button {
      opacity: 0;
      margin: 0;
      border-radius: 50%;
      justify-self: end;
      align-self: center;
      cursor: pointer;
      grid-area: 1 / 1;
      transition: 0.2s ease;
      background: radial-gradient(var(--highlight), 70%, transparent);

      img {
        width: 50%;
        height: 50%;
        margin-inline: auto;
      }

      &:hover {
        opacity: 1;
        background: var(--highlight);
      }
    }
  }

  span {
    border-radius: 12px;
    padding: 0.25rem 0.5rem;
    cursor: pointer;
    font-size: large;
    transition: all 0.2s ease;
    color: var(--text-muted);
  }
}

#sidebar-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "history documents"
                       "content content";

  overflow: hidden;
  background: var(--bg);
  border: 1px solid var(--border);
  border-radius: 0.5rem;

  margin-top: 0.5rem;
  margin-inline: 0.5rem;
  padding: 0.5rem;

  span:hover {
    background: var(--highlight);
    color: var(--text);

    & + button {
      opacity: 1;
    }
  }
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
    border-radius: 0.5rem;
}

button:has(img):hover {
  background: var(--highlight);

  & > span {
    color: var(--text) !important;
  }
}

img {
    width: 65%;
    height: 65%;
    filter: var(--filter);
}