.tab-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  background: linear-gradient(180deg, var(--bg-dark), 80%, var(--bg));
}

.tabs-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  height: 34px;
  gap: 4px;
  margin-inline: 4px;
  overflow-y: hidden;
  overflow-x: auto;
  scrollbar-width: none;
}

.tab {
  width: fit-content;
  min-width: 90px;
  max-width: 250px;
  padding: 2px 8px;
  align-content: center;
  cursor: pointer;
  transition: transform 300ms ease;
  display: grid;
  grid-template-areas: "stack";
  align-items: center;
  border-radius: 6px;
}

.tab:hover:not(.active) {
  background: var(--highlight);
}

.no-transition {
  transition: none !important;
}

.tab-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: stack;
}

.active {
  background: var(--bg-light);
}

.tab-new {
  padding: 0px;
  width: 24px;
  height: 24px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: relative;
  background-color: transparent;
  border-radius: 6px;
  flex: none;
}

.tab-new:hover{
  background: var(--highlight);
}

.tab-close {
  transition: opacity 0.1s ease;
  opacity: 1;
  width: 20px;
  height: 20px;
  background: radial-gradient(var(--bg-light), 85%, transparent);
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 0px;
  border-radius: 6px;
  pointer-events: auto;
  grid-area: stack;
  justify-self: end;
}

.tab-close.hidden {
  opacity: 0;
}

.tab-close:hover {
  background: var(--highlight);
}

.tab.dragging {
  opacity: 0.5;
  cursor: grabbing;
}