#pdf-container {
    overflow: hidden;
    position: relative;
    background: var(--bg-light);

    > iframe {
        border: none;
        width: 100%;
        height: 100%;
    }

    > iframe:not(:first-child) {
        display: none;
    }
}

#toolbar {
    background: var(--bg-light);
    box-shadow: 0px 1px 0px var(--border);
    padding: 2px 1px;
    z-index: 2;

    button {
        width: 25px;
        height: 25px;
        background: transparent;
        border: none;
        border-radius: 8px;

        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        transition: 400ms ease;

        > img {
            width: 75%;
            height: 75%;
            filter: var(--filter);
        }

        &:hover {
            background-color: var(--highlight);
        }
    }

}

#toolbar-left-group {
    display: flex;
    gap: 0.5em;
    justify-content: flex-start;
    align-items: center;
}

#page-number {
    width: 40px;
    background: transparent;
    border: 1px solid var(--border);
    border-radius: 4px;
    color: var(--text);
    padding: 0.25em;
    text-align: end;
    background-size: 0 0;
    outline: none;

    &:focus {
        border-color: #0a84ff;
    }
}



#viewer-container {
    position: absolute;
    inset: 29px 0 0;
    overflow: auto;
    padding-inline: 16px;

    > div.hidden {
        display: none;
    }
}

.page {
    position: relative;
    box-shadow: 0px 0px 8px #151515;
    background-color: #ffffff;
    margin-block: 12px;
}

.canvas-wrapper {
    width: 100%;
    height: 100%;
    /* overflow: hidden;
    transform-origin: top left;
    will-change: transform; */

    > canvas {
        width: 100%;
        height: 100%;
        display: block;
    }
}

.textLayer {
    line-height: 1;
    inset: 0;
    text-align: initial;
    overflow: clip;
    text-size-adjust: none;
    forced-color-adjust: none;
    transform-origin: 0 0;
    caret-color: CanvasText;
    z-index: 0;
    pointer-events: none;
    position: absolute;
}

.text-item {
    pointer-events: all;
    position: absolute;
    display: inline-block;
    white-space: pre;
    transform-origin: 0% 0%;
    cursor: text;
    color: transparent;
    z-index: 0;
    opacity: 0.2;

    transform: translateY(4px); /* scaleX(1.1); */

    &::selection {
        background: blue;
    }
}