numpy
pymupdf == 1.26.5
openai
langchain[openai,milvus]
langchain-core
langchain-openai
langchain-postgres
langgraph
langgraph-checkpoint-postgres
langmem
pymilvus
psycopg[binary]
psycopg2-binary
tiktoken
fastapi
uvicorn[standard]
gunicorn
python-multipart
unstructured[pdf]
python-dotenv
pillow
pwdlib[argon2]
pyjwt
uuid
pydantic
argcomplete
unidecode
watchdog
inotify
tesseract